:root {
    --white: #fff;
    --op-white: #757575;
    --blue: #4DD0E1;
    --textcard: #616161;
    --yellow: #fdb900;
    --op-gray:#eeee ;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    direction: rtl;
    line-height: 1;
    font-family: iranLight;
}

/* (**custom scroll**)
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--op-white);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--blue);
} */

/* ++reset style tages++ */
a,li {
    text-decoration: none;
    list-style-type: none;
}

/* || component|| */

.button {
    color: var(--white);
    background-color: var(--blue);
    padding: 0.7rem 1.2rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.button:hover {
    box-shadow: 0 0 0.3rem 0.3rem #85e2ee;
}

.custom-border::before{
    content: "";
    position: absolute;
    margin-top: -1.2rem;
    width: 2.5rem;
    height: 0.3rem;
    border-radius: 0.3rem;
    background-color: var(--yellow);
}

.custom-title{
    font-family: iranBlack;
    font-size: 2rem;
}


/* \\ navbars // */
.nav-menu {
    position: relative;
}

/* ??box menu?? */
.icon-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0.8rem;
    font-size: 2rem;
    padding: 0.5rem 0.5rem;
    margin-left: 2rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-out;
}

.icon-menu:hover {
    box-shadow: 0 0 0.3rem 0.3rem var(--blue);
}

.menu-mobile {
    display: none;
    position: fixed;
    right: -20rem;
    left: 0;
    top: 6rem;
    width: 15rem;
    height: 90vh;
    background-color: var(--white);
    box-shadow: 0 0 0.3rem 0.3rem var(--blue);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    transition: all 0.3s ease-out;
}


.navbar {
    background-color: var(--white);
    max-width: 100%;
}

.navbar-menu-desktop {
    display: flex;
    justify-content: space-between;

    margin: 0.6rem 0;
}

.menu__desktop-right {}

.meun-right-logo {
    max-width: 4rem;
}

.menu__desktop-left {
    display: flex;
    align-items: center;

}

.desktop__left-items {
    display: flex;
}

.left-item {
    margin: 0 1.4rem;
    font-size: 1.2rem;
}

.left-item-link {
    text-decoration: none;
    list-style: none;
    color: var(--op-white);
    transition: all 0.3s ease-out;
}

.left-item-link:hover {
    color: var(--blue);
}

.left-item-link::before {
    content: "";
    position: absolute;
    top: 3.5rem;
    width: 0;
    height: 0.2rem;
    background-color: var(--blue);
    transition: all 0.3s ease-out;
}

.left-item-link:hover:before {
    width: 2rem;
}



.menu__mobile {
    display: none;
}

.mobile-items {
    display: block;
    position: fixed;
    right: -90rem;
    margin: 2rem 0;
    transition: all 0.3s ease-out;
}

.mobile-item {
    margin: 1.5rem 0;
    font-size: 1.2rem;
}


.mobile-item-link {
    text-decoration: none;
    color: var(--op-white);
    transition: all 0.3s ease-out;
}

.mobile-item-link:hover {
    background-color: #75757556;
    padding: 0.3rem 0.4rem;
    border-radius: 0.4rem;
    color: var(--blue);
}

/* \\ header // */
/*\\header section title&images//  */
.header-title-img {}

.header {
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-content-right {
    display: flex;
    flex-direction: column;
}

.header-right-titles {
    margin-top: 3rem;
}

.right-titles-text {
    color: var(--op-white);
    font-size: 1.1rem;
}

.right-titles-title {
    display: block;
    margin-top: 1.5rem;
    font-family: iranBlack;
    font-size: 2.5rem;
    line-height: 1.5;
}

.right-titles-parph {
    margin-top: 1.4rem;
    color: var(--op-white);
    font-size: 1.1rem;
    line-height: 2;
}

.right-titles-parph span {
    margin-top: 1.4rem;
    font-family: iranBlack;
    font-size: 1.1rem;
    color: #000;
    background: linear-gradient(transparent 50%, #4dd0e177 0);
}

.header-content-btns {
    margin-top: 3rem;
}

.header-btn {
    margin-left: 1rem;
}

.header-btn-adviser {
    color: var(--blue);
    background-color: var(--white);
    border: 1px solid var(--blue);
    transition: all 0.3s ease-out;
}

.header-btn-adviser:hover {
    color: var(--white);
    background-color: var(--blue);
}

.header-btn i {
    margin: 0.3rem;
}

.header-content-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-image {
    overflow: hidden;
    background-color: var(--blue);
    transform: rotate(-15deg);
    border-radius: 1.5rem;
    margin-left: 8rem;
    margin-top: -2.9rem;
    z-index: -1;
}

.left-img {
    overflow: hidden;
    margin-top: 4rem;
    width: 300px;
}

/*\\>header section box & img//  */
.header-box {
    margin-top: 7rem;
}

.content-box {
    background-color: var(--blue);
    border-radius: 2rem;
    max-height: 300px;
}

.content-box-titles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
    color: var(--white);
}

.box-title {
    font-family: iranBlack;
    font-size: 1.4rem;
}

.box-text {
    font-family: iranMedium;
    font-size: 1.3rem;
    line-height: 1.5;
    max-width: 35rem;
}

.content-box-items {
    margin: 6rem 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    margin: 1rem;
    padding: 1rem 1rem;
    background-color: var(--white);
    box-shadow: 0 0 0.3rem 0.3rem var(--op-gray);
    max-width: 200px;
    max-height: 150px;
    border-radius: 0.5rem;
}

.box-item i {
    font-size: 2.5rem;
    color: #424242;
}

.box-item-text {
    margin-top: 1rem;
    font-size: 1.1rem;
    color: var(--textcard);
    line-height: 1.4rem;
}

/*\\header section box compony//*/

.header-box-cmp {
    padding-top: 5rem;
}

.box-cmp-items {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cmp-item {
    margin: 2rem 1rem;
}

.cmp-item-img {
    width: 150px;
    filter: grayscale(100%);
    transition: all 0.3s ease-out;
}

.cmp-item-img:hover {
    width: 150px;
    filter: grayscale(0);
    transform: scale(1.2);
    transition: all 0.3s ease-out;
}

/*\\hmain section product//*/
.main {
    margin: 5rem 0;
    background-color:var(--op-gray);
}
.main-part1{

}
.main-product {}

.product__content {
    margin: 4rem 0;

}

.product__content-titles {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    padding: 4rem;
}

.product-title {
    
}

.product-text {
    font-family: iranMedium;
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 37rem;
}

/*\\main section product//*/

.product-products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}

.product-right {
    margin-right: 2rem;
}

.product-right-special {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white);
    border-radius: 1rem;
    max-width: 350px;
    max-height: 400px;
    margin: 0 1rem;
    padding: 2rem 1.5rem 1rem 1.5rem;
}

.right-special-titles {
    font-family: iranBlack;
    font-size: 2rem;
}

.right-special-img {
    width: 150px;
    margin: 1rem 0;
}

.right-special-text {
    margin: 1rem 0;
    text-align: center;
    font-family: iranMedium;
    line-height: 1.5;
}

.right-special-btn {
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.3rem;
}

.product-left {}

.left-special-slider {
    max-width: 900px;
    max-height: 400px;
}

.item-box {
    background-color: var(--white);
    max-width: 310px;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 0 1rem;
}

.left-item-img {
    background-color: var(--blue);
   height: 200px;
    max-width: 250px;
    border-radius: 1rem;
    margin: 0 auto;
}

.left-item-text {
    margin: 1rem 0;
    text-align: center;
    font-family: iranLight;
    line-height: 1.5;
}

.left-item-btn {
    text-align: center;
    display: block;
    margin: 0 2rem;
    font-size: 1.4rem;
}


/*\\main section boxuser//*/
.main-boxuser {}

.boxuser-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.boxuser-items-item {

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);
    box-shadow: 0 0 0.4rem 0.4rem #ccc;
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    text-align: center;
    margin: 2rem 2rem;
}

.boxuser-items-item:nth-child(1) {
    margin-top: 6rem;
}

.boxuser-items-item:nth-child(3) {
    margin-top: 6rem;
}

.items-item-number {
    font-size: 3rem;
}

.items-item-text {
    font-size: 1.2rem;
    color: var(--textcard);
    margin-top: 0.3rem;
}

/*\\main section about us//*/

.main-about {
    margin: 10rem 0;
}

.about-content {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

.about-content-right {}

.about-right-boxImg {
    background-color: var(--blue);
    max-width: 500px;
    border-radius: 1rem;
    transform: rotate(12deg);
}

.about-right-img {
    width: 250px;
}

.about-content-left {}

.about-title {
    margin-bottom: 2rem;
}

.about-left-text {
    max-width: 40rem;
    font-family: iranMedium;
    color: var(--textcard);
    line-height: 2;
    margin-bottom: 2rem;
}

.about-left-btn {
    margin: 1rem;
    display: flex;
    align-items: center;
}

.left-text {
    padding: 4rem;
    font-family: iranMedium;
    font-size: 1.3rem;
    color: var(--textcard);
}

.left-btn {
    background-color: var(--yellow);
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    color: var(--white);
    letter-spacing: 0.3rem;
}

/*\\main section articles//*/

.main-articles{
    margin: 2rem 0;
}
.articles-items{
    display: flex;
    justify-content: space-around;
}
.articles-right{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-bottom: 2rem;
}
.article-right-title{
}
.article-right-boximg{
    background-color: var(--blue);
    border: 1rem solid var(--white);
    border-radius: 1rem;
    max-width: 500px;
    height:315px;
    margin-top: 4rem;
}
.article-right-img{
    max-width: 430px;
    height: inherit;
    transform: scale(0.8);
    border-radius: 1rem;
    padding-right: 6rem;
}
.arcticle-right-text{
    max-width: 30rem;
    font-size: 1.3rem;
    color: var(--op-white);
    line-height: 1.4;
    margin-top: 2rem;
}
.article-right-data{
    font-size: 0.9rem;
    color: var(--textcard);
    margin-top: 1rem;
}
.articles-left{
    margin-top: 6rem;
}
.left__items{
   
}
.left__item{
    display: flex;
    align-items: center;
    padding-bottom: 0.4rem;
    margin: 1rem;
    border-bottom: 1px solid var(--op-white);
}
.left-item:nth-child(3){
    border-bottom: none;
}
.left__item-img{
    width: 100px;
    height:100px;
    background-color: var(--blue);
    border: 0.4rem solid var(--white);
    margin-left: 1.5rem;
}
.left__item-box{
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: var(--textcard);
}
.item-box-text{
    max-width: 25rem;
    line-height: 1.4;
}
.item-box-data{
    font-size: 0.8rem;
    margin-top: 1rem;
}

/*\\main section comment//*/

.main-part2{
    background-color: var(--white);
}
.comment{
    padding: 3rem 0;
    
}
.comment-box{
    background-color: var(--blue);
    height: 60vh;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

}
.commnet-box-up{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}
.box-up-right{
    
}
.up-right-title{
    color: var(--white);
}
.box-up-textBtn{
    display: flex;
    flex-direction: column;
}
.up-right-text{
    color: var(--white);
    font-size: 1.3rem;
    max-width: 33rem;
    line-height: 1.4;
}
.up-right-btn{
    text-decoration: none;
   background-color: var(--white);
   border-radius: 0.4rem;
   color: var(--textcard);
   text-align: center;
   font-size: 1.2rem;
   max-width: 9rem ;
   height: 2rem;
   margin: 2rem 0;
   padding: 0.4rem;
   transition: all 0.3s ease-out;
}
.up-right-btn:hover{
    background-color: var(--textcard);
    box-shadow: 0 0 0.2rem 0.2rem var(--op-white);
    color: var(--white);
}
.commnet-box-down{
    
}
.box-down-cm{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5rem;
}
.down-box-user{
    max-width: 500px;
    max-height: 240px;
    background-color: var(--white);
    box-shadow: 0  0 0.3rem 0.3rem #ccc;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}
.box-user-text{
    max-width: 30rem;
    font-size: 1.1rem;
    line-height: 1.4;
    color: var(--textcard);
}

.box-user-img{
    margin: 1rem 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.box-user-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-user{
    display: flex;
    flex-direction: column;
}
.box-user-name{
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}
.box-user-side{

}
.box-datas{

}
.box-data-user{

}

/*\\main section team//*/

.team{
    margin-top: 15rem;
    background-color: var(--op-gray);
    border-radius: 1rem;
}
.content-team{
    padding-top: 4rem;
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
}
.content-team-right{
    display: flex;
    flex-direction: column;
}
.team-right-titles{
}
.team-right-text{
width: 20rem;
font-family: iranMedium;
font-size: 1.3rem;
color: var(--textcard);
margin-top: 5rem;
line-height: 2;
}
.content-team-left{

}
.team-left-boximg{
    display: flex;
    flex-direction: column;
}
.boximg-up,
.boximg-dowm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.boximg-up-image{
    margin: 1rem;
    border: 10px solid var(--white);
    border-radius: 0.3rem;
    position: relative;

}
.up-img{
    max-width: 200px;
    border-radius: 0.3rem;
    position: relative;
    transition: all 0.7s ease-in;
   z-index: 3;
}
.up-img:hover{
    transform:  scale(0);
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
}

.team-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    line-height: 2;
    z-index: 1;
}
.team-side-text{
    font-size: 2rem;
}
.team-side-user{
    font-size: 1.1rem;
    
}

/*\\main section sample work//*/

.sampleWork{
margin: 10rem 0;
}
.sample{

}
.sample-titles{
}
.sample-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
}
.sample-box-img{
    max-width: 280px;
    margin: 0.4rem;
    border: 3px solid var(--white);
    border-radius: 1rem;
}

/*\\main section product price//*/
.price{

}
.price-titles{
}
.price-boxs{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box-price-product{
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    border: 0.3rem solid var(--white);
    box-shadow: 0 0 0.3rem 0.3rem #ccc;
    border-radius: 0.4rem;
    margin: 2rem 0;
}
.box-price-header{
 margin: 1rem 1rem;
 line-height: 2;
}
.price-header-title{
    font-family: iranBlack;
    font-size: 1.5rem;

}
.price-header-text{
    font-size: 1.2rem;
    color: var(--textcard);
}
.product-price{
    text-align: center;
    font-family: iranBlack;
    font-size: 1.7rem;
    margin: 1.4rem 0;
}
.product-btn{
    text-align: center;
}
.product-title-box{
}
.text-title{
    font-family: iranBlod;
    font-size: 1.5rem;
    color: var(--textcard);
    text-align: right;
    margin: 1.3rem;
}
.text-Possibilities{
    position: relative;
}
.poss-text{
    font-size: 1.1rem;
    margin-bottom: 0.5rem;    
}

/*\\main section question collapsible//*/

.question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-titles{
    margin: 4rem 0;
    line-height: 1.4;
}
.question-collaps{
    margin: 4rem 0;
    display: flex;  
    flex-direction: column;
    justify-content: center;;
}
.collpas-box{
    margin: 1rem 1rem;
}

.collapsibles{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color:var(--op-gray);
    border-radius: 0.5rem 0.5rem 0 0;
    color: var(--textcard);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 1.5rem;
    
}
.actives,
.collapsibles:hover{
    background-color: var(--op-white);
    color: var(--white);
}
.content-collaps{
    padding: 0 1.2rem;
    max-height: 0;
    overflow: hidden;
    transition:  0.3s ease-in;
    background-color:var(--op-gray);
    font-size: 1.1rem;
    line-height: 1.5;
    max-width: 100%;
}

/*\\footer section top//*/

.footer{
    background-color: #000;
}
.footer-top{
    display: flex;
justify-content: space-around;    
}
.footer-right{
    margin: 2rem  0;
    display: flex;
    flex-direction: column;

}
.footer-right-img{
    width: 80px;
    margin-bottom: 0.5rem;
    padding: 0.4rem 0.5rem;
    background-color: var(--white);
}
.footer-middel{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    color: var(--white);
}   
.footer-middel-title{

}
.footer-title{
    color: var(--yellow);
    font-size: 1.5rem;
}
.footer-middel-menus{
    margin-top: 2rem;
}
.footer-middel-menu{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.footer-middel-text{
    font-size: 1.3rem;
    color: var(--op-white);
    margin: 0.4rem 0;  
}
.footer-mideel-link{
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--white);
    transition: all 0.3s ease-out;
}
.footer-mideel-link:hover{
    color: var(--yellow);
}
.footer-left{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    color: var(--white);
}
.footer-left-titles{

}
.footer-left-menus{
    margin-top: 2rem;
}
.footer-left-menu{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.footer-left-link{
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--white);
    transition: all 0.3s ease-out;
}
.footer-left-link:hover{
    color: var(--yellow);
  
}